.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
.env.*
data/raw/*
!data/raw/.gitkeep
!data/raw/licitaciones_salud_marzo_2026.csv
data/processed/*
!data/processed/.gitkeep
materiales/*
!materiales/README.md
Thumbs.db
